[user]
	name = Ephemeral Astronaut
	email = troglodytto@gmail.com
	signingkey = A3CFAD85EF8CC66F8A1E76C192A3CC1A6B0DE1C3

[init]
	defaultBranch = main

[commit]
	gpgSign = true
[core]
	editor = code
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.15.0/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.15.0/bin/gh auth git-credential
