[user]
	name = Ephemeral Astronaut
	email = troglodytto@gmail.com
	signingkey = 19EF3A30A2BFDF12D12BC682ACAD02A27DB7E087 
[init]
	defaultBranch = main

[commit]
	gpgSign = true
[core]
	editor = code
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.15.0/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.15.0/bin/gh auth git-credential
