[user]
	name = Ephemeral Astronaut
	email = troglodytto@gmail.com
	signingkey = 5322EEBF2C58CD2B70F2DD09EBC8BFB7B6708DDD 

[init]
	defaultBranch = main

[commit]
	gpgsign = true
[core]
	editor = code
